*{box-sizing: border-box;}
body{
    background-image: url(../content/pixel-printer.png);
}
.background{
    background-image: linear-gradient(to bottom, rgb(108, 159, 178), rgb(16, 55, 109));
    height: 1600px;
    width: 90vw;
    margin: 5vw auto;
    color:rgb(255, 255, 255);
    padding: 50px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.title-1{
    display: flex;
    justify-content: center;
}
.title-1 h1{
    text-decoration: underline;
}
.info-1{
    text-shadow: 2px 2px 4px #000000;
}
.body-1{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    padding-bottom: 1%;
}
.right-body{
    display: flex;
    flex-direction: column;
}
.left-body img{
    width: 600px;
    border-radius: 1%;
}
.ul-1{
    background-color: rgb(255, 255, 255);
    height: 3px;
    box-shadow: 2px 2px 4px #000000;
}
.title-2{
    display: flex;
    justify-content: center;
}
.right-body-2
